.sign-in {
  &__root {
    @include center-main;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__container {
    @include form-container;
  }

  &__form {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: solid #ddd 0.0625rem;
    &--delivery {
      @extend .sign-up-form__form;
    }
    &--card {
      @extend .sign-up-form__form;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__title {
    &--h1 {
      font-size: 1.5rem;
      margin-bottom: 0.1rem;
    }
  }
  &__label {
    font-size: 0.9rem;
    margin: 0.7rem 0rem 0.2rem 0rem;
    font-weight: 500;
  }
  &__id-preview {
    width: 13rem;
  }
  &__select {
    border: solid $neutral 0.0625rem;
  }
  &__input {
    border: solid $neutral 0.0625rem;
    border-radius: 0.1875rem;
    &--error {
      border: solid $error-red 0.0625rem;
    }
  }

  &__helper-text {
    color: $error-red;
    font-size: 0.8125rem;
  }

  &__button-wrapper {
    margin: 1rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (min-width: $breakpoint-tablet) {
      // justify-content: flex-start;
      // flex-direction: row;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (min-width: $breakpoint-tablet) {
      justify-content: space-evenly;
      flex-direction: row;
    }
  }

  &__alternate-link {
    margin-top: 0.4rem;
    font-size: 0.8rem;
  }

  &__button {
    @include form-button;
    margin-top: 0.5rem;
    @media (min-width: $breakpoint-tablet) {
      margin-top: unset;
    }
    &--guest {
      margin-top: 0.5rem;
      width: 100%;
      @include form-secondary-button;
      @media (min-width: $breakpoint-tablet) {
        margin-top: unset;
        width: 10rem;
      }
    }
    @include focus;
  }
}
