.pay-services {
  &__root {
    @include form-root;
  }
  &__wrapper {
    @include form-wrapper;
  }

  &__container {
    @include form-container;
  }

  &__title {
    &--h1 {
      font-size: 1.5rem;
      margin: 0.1rem;
    }
    &--sub {
      border-bottom: solid $neutral 0.0625rem;
      padding-bottom: 0.5rem;
      margin-bottom: 0.75rem;
    }
  }

  &__bills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (min-width: $breakpoint-mobile) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__bill-item {
    border: solid $neutral 0.0625rem;
    border-radius: 0.1875rem;
    padding: 0.5rem;
    border-radius: 0.625rem;
    box-shadow: $shadow-default;
    margin: 0.5rem 0.5rem;
    text-align: center;
  }

  &__bill-price {
    font-size: 0.85rem;
    color: $neutral-darker;
  }
  &__bill-title {
    font-weight: 500;
    font-size: 0.925rem;
  }
}
