.modal {
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  &__root {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0px 0px 0px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }
  &__btn-close {

  }
  
  &__header {
    display: flex;
    justify-content: space-between;
  }
}
