.home {
  &__root {
    @include center-main;
  }
  &__title-test {
    position: absolute;
    top: 30px;
    color: $background-white;
  }

  &__home-cards {
    margin-top: 3rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    @media screen and (min-width: $breakpoint-tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__best-wrapper {
    background-color: white;
    margin: 0.5rem;
    max-width: 72.8125rem;
    margin: 2rem auto;
    box-shadow: $shadow-default;
  }
  &__best-title {
    border-bottom: solid #ddd 0.0625rem;
    padding: 0.5rem;
  }
  &__best-container {
    padding: 0.5rem;
  }
  &__parallax-bird1 {
    width: 1080px;
    height: 1280px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-image: url("../../assets/images/bird1.png");
  }

  &__content {
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-top: 100px;
  }

  &__info-banners {
    display: flex;
    flex-direction: column;
  }

  &__icon-card path {
    stroke: white;
  }
}

.info-banner {
  &__root {
    min-height: 25rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: $secondary;
    backdrop-filter: blur(6px);
    padding: 1rem;
  }
  &__title {
    color: $background-white;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 1rem;
    margin: 0;
    @include font-title;
  }
  &__message {
    color: $background-white;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 0;
    max-width: 54rem;
    align-self: center;
    @include font-content;
  }
  &__icon-wrapper {
    display: flex;
    justify-content: center;
    fill: blue;
  }

  &__button {
    align-self: center;
    @include form-button;
    background-color: $primary;
    color: $background-white;
  }
}

.comparison-card {
  &__root {
    min-height: 35rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 40%;
    background-color: $secondary;
    backdrop-filter: blur(6px);
    padding: 1rem;
  }
  &__title {
    color: $background-white;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 1rem;
    margin: 0;
    @include font-title;
  }
  &__message {
    color: $background-white;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 0;
    max-width: 54rem;
    align-self: center;
    @include font-content;
  }

  &__button {
    align-self: center;
    @include form-button;
    background-color: $primary;
    color: $background-white;
  }
}
