.log-out {
  &__root {
    display: flex;
    justify-content: center;
  }
  &__wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    box-shadow: $shadow-default;
    max-width: 50rem;
    margin: 1rem 2.3rem;
    max-width: 50rem;
    width: 19.6875rem;
  }

  &__main {
    min-height: 27.0625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    &--h1 {
      font-size: 1.5rem;
      margin-bottom: 0.75rem;
      margin-top: 0.1rem;
      align-self: flex-start;
    }
    &--sub {
      border-bottom: solid $neutral 0.0625rem;
      padding-bottom: 0.5rem;
      margin-bottom: 0.75rem;
    }
  }
  &__button-wrapper {
    margin: 1rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // @media (min-width: $breakpoint-tablet) {
    //   justify-content: flex-start;
    // }
  }

  &__button {
    background-color: $secondary;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
    width: 5.3125rem;
    @media (min-width: $breakpoint-tablet) {
      width: 5.3125rem;
    }
    &:disabled {
      background-color: gray;
      cursor: default;
      @media (min-width: $breakpoint-tablet) {
        width: 13rem;
      }
    }
  }

  &__button-back {
    // background-color: $highlight;
    border: $secondary solid 1px;
    color: $secondary;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
    width: 5.3125rem;
    @media (min-width: $breakpoint-tablet) {
      width: 5.3125rem;
    }
    &:disabled {
      background-color: gray;
      cursor: default;
      @media (min-width: $breakpoint-tablet) {
        width: 13rem;
      }
    }
  }
}
