.header {
  &__root {
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    padding: 0.2rem 0.5rem;
    align-items: center;

    @media (min-width: $breakpoint-tablet) {
      padding: 0.2rem 1rem;
    }
  }
  &__menu-wrapper {
    display: flex;
    align-items: center;
  }
  &__links-wrapper {
    display: flex;
    align-items: center;
  }
  &__link {
    font-size: 1.1875rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 1rem;
    color: $background-white;
    display: none;
    text-align: center;
    padding: 0.6rem 0;
    transition: color 0.35s;

    @media (min-width: $breakpoint-mobile) {
      display: flex;
    }

    &--cart {
      @extend .header__link;
      display: flex;
      margin-right: 0;
    }
    &:hover {
      color: white;
    }
  }
  &__logo {
    display: flex;
    height: 2.5rem
  }
}
