$light: white;
$dark: black;
$hero-overlay: #15068687;
$footer-background: #403042;

$primary: #071013;
$secondary:#832232;
$tertiary: #9DA9A0;
$quaternary: #C0CAAD;
$neutral:#D1D5DE;
$neutral-darker: #6f6f6f;
$neutral-darkest: #656565;
$highlight: #629677;
$alert: #C84630;
$background: #f3f3f3;
$background-white: #ececec;

$error-red: #cc0000;
$success-green: green;

//shadows
$shadow-milder-dark: 0.05rem 0.05rem 0.05rem $dark;
$shadow-mild-dark: 0.1rem 0.1rem 0.1rem $dark;
$shadow-mild-light: 0.1rem 0.1rem 0.1rem $light;
$shadow-medium-dark: 0.15rem 0.15rem 0.15rem $dark;
$shadow-default: 0.1rem 0.1rem 0.2rem rgb(0 0 0 / 10%);