.dashboard {
  &__root {
    @include form-root;
    align-items: center;
  }
  &__wrapper {
    @include form-wrapper;
    flex-direction: column;
    width: 90%;
    margin: 0;
    @media (min-width: $breakpoint-tablet) {
      width: 80%;
    }
  }
  &__container {
    margin-bottom: 1rem;
    background-color: white;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(0 0 0 / 10%);
    &--title {
      @extend .dashboard__container;
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
  &__form {
    @include form-form;
    border: 0;
    padding: 0;
  }

  &__banner {
    height: 12rem;
    background-color: $secondary;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 1rem;
    margin: 1rem 0;
    @media (min-width: $breakpoint-mobile) {
      flex-direction: row;
      justify-content: space-evenly;
    }

    @media (min-width: $breakpoint-tablet) {
      justify-content: space-between;
      padding: 0 2rem;
    }
  }

  &__banner-name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }

  &__banner-balance {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }
  &__balance-title {
    @include font-title;
    font-size: 1rem;
    color: $background-white;
    @media (min-width: $breakpoint-mobile) {
      align-self: flex-start;
    }
  }
  &__balance {
    font-size: 1.4375rem;
    color: $background-white;
  }

  &__name {
    color: $background-white;
    font-weight: 700;
    font-size: 2rem;
    @include font-title;
    display: none;
    text-align: center;
    @media (min-width: $breakpoint-tablet) {
      display: block;
    }
  }

  &__id-number {
    color: $neutral;
    align-self: flex-end;
  }

  &__profile-picture {
    object-fit: cover;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(0 0 0 / 50%);
    @media (min-width: $breakpoint-mobile) {
      width: 9rem;
      height: 9rem;
    }
  }

  &__id-picture {
    object-fit: cover;
    max-width: 14rem;
    margin: 0 auto;
    border: solid $primary 0.1rem;
    margin-bottom: 1rem;
  }

  &__info-wrap {
    border-top: solid #ddd 0.0625rem;
    margin-top: 2rem;
    margin-right: -1rem;
    margin-left: -1rem;
  }

  &__label {
    @include form-label;
    font-size: 1.12rem;
  }
  &__title {
    @include form-title;
    &--h2 {
      @include form-title-h2;
      border-bottom: solid #ddd 0.0625rem;
      @include font-title;
    }
  }
  &__links-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @media screen and (min-width: $breakpoint-mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: $breakpoint-tablet) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__field {
    @include form-field;
  }
}
