@import "./styles/variables/breakpoints.scss";
@import "./styles/variables/colors.scss";
@import "./styles/base/base.scss";
@import "./styles/mixins/utils.scss";
@import "./styles/mixins/forms.scss";
@import "./styles/mixins/fonts.scss";
@import "./App.scss";
@import "./components/Header/Header.scss";
@import "./components/Home/Home.scss";
@import "./components/Footer/Footer.scss";
@import "./components/HeaderCartIcon/HeadercartIcon.scss";
@import "./components/HeaderMenu/HeaderMenu.scss";
@import "./components/HeaderMenuHamburger/HeaderMenuHamburger.scss";
@import "./components/HomeHero/HomeHero.scss";
@import "./components/SignUp/SignUp.scss";
@import "./components/SignUpForm/SignUpForm.scss";
@import "./components/SignIn/SignIn.scss";
@import "./components/Modal/Modal.scss";
@import "./components/MoneyTransfer/MoneyTransfer.scss";
@import "./components/AddMoney/AddMoney.scss";
@import "./components/TransferVerify/TransferVerify.scss";
@import "./components/TransferResult/TransferResult.scss";
@import "./components/PayServices/PayServices.scss";
@import "./components/PayServiceVerify/PayServiceVerify.scss";
@import "./components/LogOut/LogOut.scss";
@import "./components/Profile/Profile.scss";
@import "./components/HomeCard/HomeCard.scss";
@import "./components/Dashboard/Dashboard.scss";
@import "./components/IconLink/IconLink.scss";
@import "./components/AccountHistory/AccountHistory.scss";
@import "./components/TransactionsList/TransactionsList.scss";
@import "./components/AccountsSummary/AccountsSummary.scss";
@import "./components/LoadingModal/LoadingModal.scss";

@font-face {
font-family: "Kant";
src: local("Kant"),
 url("./fonts/KantumruyPro-Regular.ttf") format("truetype");
}

@font-face {
font-family: "Lora";
src: local("Lora"),
 url("./fonts/Lora-Regular.ttf") format("truetype");
}

@font-face {
font-family: "Quest";
src: local("Quest"),
 url("./fonts/Questrial-Regular.ttf") format("truetype");
}

