@mixin font-kant {
  font-family: "Kant";
}

@mixin font-lora {
  font-family: "Lora";
}

@mixin font-quest {
  font-family: "Quest";
}

@mixin font-title {
  font-family: "Lora";
}

@mixin font-content {
  font-family: "Quest";
}
