@mixin flex-wide($width: 100%) {
  display: flex;
  width: $width;
}

@mixin flex-wrap-wide($width: 100%) {
  display: flex;
  flex-wrap: wrap;
  width: $width;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin center-main {
  margin: auto 0;
  padding-bottom: 29.2rem;
  @media (min-width: $breakpoint-tablet) {
    padding-bottom: 16.3rem;
  }
}

@mixin hide-mobile {
  display: none;
  @media (min-width: $breakpoint-mobile) {
    display: block;
  }
}
@mixin hide-tablet {
  display: none;
  @media (min-width: $breakpoint-tablet) {
    display: block;
  }
}

@mixin focus {
  &:focus {
    outline: solid $primary 0.1875rem;
  }
}

@mixin focus-red {
  &:focus {
    outline: solid $secondary 0.1875rem;
  }
}
@mixin focus-gray {
  &:focus {
    outline: solid gray 0.1875rem;
  }
}
@mixin focus-wi-gray {
  &:focus-within {
    outline: solid gray 0.1875rem;
  }
}
