.pay-service-verify {
  &__root {
    @include form-root;
  }

  &__wrapper {
    @include form-wrapper;
  }

  &__container {
    @include form-container;
  }

  &__form {
    @include form-form;
  }

  &__title {
    @include form-title;
  }
  &__label {
    @include form-label;
  }

  &__select {
    @include form-select;
  }

  &__input {
    @include form-input;
  }

  &__field{
    @include form-field;
  }

  &__button-wrapper {
    margin: 1rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $breakpoint-tablet) {
      justify-content: space-between;
    }
  }

  &__alternate-link {
    margin-top: 0.4rem;
    font-size: 0.8rem;
  }

  &__button {
    @include form-button;
  }

  &__button-back {
    @include form-secondary-button
  }
}
